# REVISION OF WHAT WE COVERED TILL NOW

In [1]:
# import a data 

import pandas as pd
car_sales = pd.read_csv("9.1 car-sales-extended-missing-data1.csv")
car_sales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [2]:
# Check if there is any missing value 

car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

#### Fill the missing values 

 There are two methods 
* pandas 
* scikit learn

### ScIKIT LEARN METHOD

In [4]:
car_sales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [13]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_imputer = SimpleImputer(strategy = 'constant',fill_value = 'missing')
doors_imputer = SimpleImputer(strategy = 'constant',fill_value = 4.0)
num_imputer = SimpleImputer(strategy = 'mean')  ## num is for ODOMETER (KM)
#price_imputer = SimpleImputer(strategy = 'constant',fill_value = car_sales["Price"].dropna())

cat_features = ["Make","Colour"]
doors_features = ["Doors"]
num_features = ["Odometer (KM)"]
price_label = ["Price"]

transformer = ColumnTransformer([("cat_imputer",cat_imputer,cat_features),
                                  ("doors_imputer",doors_imputer,doors_features),
                                  ("num_imputer",num_imputer,num_features),
                                  #("price_imputer",price_imputer,price_label)
                                ])
X_filled = transformer.fit_transform(car_sales)

In [14]:
X_filled

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [17]:
car_sales_filled = pd.DataFrame(X_filled,columns=["Make","Colour","Doors","Odometer (KM)"])

In [18]:
car_sales_filled

        Make Colour Doors Odometer (KM)
0      Honda  White     4         35431
1        BMW   Blue     5        192714
2      Honda  White     4         84714
3     Toyota  White     4        154365
4     Nissan   Blue     3        181577
..       ...    ...   ...           ...
995   Toyota  Black     4         35820
996  missing  White     3        155144
997   Nissan   Blue     4         66604
998    Honda  White     4        215883
999   Toyota   Blue     4        248360

[1000 rows x 4 columns]

In [19]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [20]:
car_sales["Price"].isna().sum()

50

In [29]:
car_sales["Price"] = car_sales["Price"].dropna(axis=0, inplace=True)

In [30]:
len(car_sales)

1000

In [31]:
car_sales["Price"].isna().sum()

1000

In [32]:
car_sales["Price"]

0      None
1      None
2      None
3      None
4      None
       ...
995    None
996    None
997    None
998    None
999    None
Name: Price, Length: 1000, dtype: object

In [33]:
car_sales

       Make Colour  Odometer (KM)  Doors Price
0     Honda  White        35431.0    4.0  None
1       BMW   Blue       192714.0    5.0  None
2     Honda  White        84714.0    4.0  None
3    Toyota  White       154365.0    4.0  None
4    Nissan   Blue       181577.0    3.0  None
..      ...    ...            ...    ...   ...
995  Toyota  Black        35820.0    4.0  None
996     NaN  White       155144.0    3.0  None
997  Nissan   Blue        66604.0    4.0  None
998   Honda  White       215883.0    4.0  None
999  Toyota   Blue       248360.0    4.0  None

[1000 rows x 5 columns]

# AGAIN WE NEED TO PERFORM SAME

In [1]:
import pandas as pd
car_sales = pd.read_csv("9.1 car-sales-extended-missing-data1.csv")
car_sales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [2]:
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [4]:
X = car_sales.drop("Price",axis=1)
Y = car_sales["Price"]

In [6]:
# will remove missing values with imputing values
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_imputer = SimpleImputer(strategy = 'constant', fill_value = "missing")
num_imputer = SimpleImputer(strategy = 'mean',) # num is used Odometer (KM)
doors_imputer = SimpleImputer(strategy = 'constant',fill_value = 4.0)

cat_features = ["Make","Colour"]
num_features = ["Odometer (KM)"]
doors_features = ["Doors"]

transformer = ColumnTransformer([("cat_imputer",cat_imputer,cat_features),
                                 ("num_imputer",num_imputer,num_features),
                                 ("doors_imputer",doors_imputer,doors_features)])

filled_X = transformer.fit_transform(X)

In [7]:
filled_X

array([['Honda', 'White', 35431.0, 4.0],
       ['BMW', 'Blue', 192714.0, 5.0],
       ['Honda', 'White', 84714.0, 4.0],
       ...,
       ['Nissan', 'Blue', 66604.0, 4.0],
       ['Honda', 'White', 215883.0, 4.0],
       ['Toyota', 'Blue', 248360.0, 4.0]], dtype=object)

In [9]:
car_sales_filled = pd.DataFrame(filled_X, columns=["Make","Colour","Odometer (KM)","Doors"])
car_sales_filled

        Make Colour Odometer (KM) Doors
0      Honda  White         35431     4
1        BMW   Blue        192714     5
2      Honda  White         84714     4
3     Toyota  White        154365     4
4     Nissan   Blue        181577     3
..       ...    ...           ...   ...
995   Toyota  Black         35820     4
996  missing  White        155144     3
997   Nissan   Blue         66604     4
998    Honda  White        215883     4
999   Toyota   Blue        248360     4

[1000 rows x 4 columns]

In [10]:
Y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [12]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [13]:
car_sales_filled.dtypes

Make             object
Colour           object
Odometer (KM)    object
Doors            object
dtype: object

In [16]:
car_sales_filled

0       35431
1      192714
2       84714
3      154365
4      181577
        ...
995     35820
996    155144
997     66604
998    215883
999    248360
Name: Odometer (KM), Length: 1000, dtype: int32

In [17]:
car_sales_filled = pd.DataFrame(filled_X, columns=["Make","Colour","Odometer (KM)","Doors"])
car_sales_filled

        Make Colour Odometer (KM) Doors
0      Honda  White         35431     4
1        BMW   Blue        192714     5
2      Honda  White         84714     4
3     Toyota  White        154365     4
4     Nissan   Blue        181577     3
..       ...    ...           ...   ...
995   Toyota  Black         35820     4
996  missing  White        155144     3
997   Nissan   Blue         66604     4
998    Honda  White        215883     4
999   Toyota   Blue        248360     4

[1000 rows x 4 columns]

In [18]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [19]:
car_sales_filled.dtypes

Make             object
Colour           object
Odometer (KM)    object
Doors            object
dtype: object

In [26]:
car_sales["Doors"] = car_sales["Doors"].fillna(4).astype(int)

In [27]:
car_sales["Doors"].dtypes

dtype('int32')

In [28]:
car_sales["Odometer (KM)"] = car_sales["Odometer (KM)"].fillna(0).astype(int)

In [29]:
car_sales_filled.dtypes

Make             object
Colour           object
Odometer (KM)    object
Doors            object
dtype: object

In [30]:
car_sales_filled

        Make Colour Odometer (KM) Doors
0      Honda  White         35431     4
1        BMW   Blue        192714     5
2      Honda  White         84714     4
3     Toyota  White        154365     4
4     Nissan   Blue        181577     3
..       ...    ...           ...   ...
995   Toyota  Black         35820     4
996  missing  White        155144     3
997   Nissan   Blue         66604     4
998    Honda  White        215883     4
999   Toyota   Blue        248360     4

[1000 rows x 4 columns]

In [31]:
car_sales_filled["Odometer (KM)"] = pd.to_numeric(car_sales_filled["Odometer (KM)"])

In [34]:
car_sales_filled["Odometer (KM)"].dtypes

dtype('float64')

In [35]:
car_sales_filled["Doors"].dtypes

dtype('O')

In [36]:
car_sales_filled["Doors"] = pd.to_numeric(car_sales_filled["Doors"])

In [37]:
car_sales_filled["Doors"].dtypes

dtype('float64')

In [38]:
car_sales_filled.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
dtype: object

In [39]:
Y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [40]:
Y.isna().sum()

50

In [41]:
Y.dtypes

dtype('float64')

In [52]:
X = car_sales_filled
X

        Make Colour  Odometer (KM)  Doors
0      Honda  White        35431.0    4.0
1        BMW   Blue       192714.0    5.0
2      Honda  White        84714.0    4.0
3     Toyota  White       154365.0    4.0
4     Nissan   Blue       181577.0    3.0
..       ...    ...            ...    ...
995   Toyota  Black        35820.0    4.0
996  missing  White       155144.0    3.0
997   Nissan   Blue        66604.0    4.0
998    Honda  White       215883.0    4.0
999   Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [55]:
# we need to convert entire column to numeric 

from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour"]
One_hot = OneHotEncoder()

transformer = ColumnTransformer([("One_hot",One_hot,
                                  categorical_features)],
                                  remainder = "passthrough")
X_transformed = transformer.fit_transform(X)
X_transformed

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 4.00000e+00],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.92714e+05, 5.00000e+00],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 4.00000e+00],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 4.00000e+00],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 4.00000e+00]])

In [56]:
# split into train and test set

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_transformed,Y,test_size=0.2)

# select a model 

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

# Fit a model 

model.fit(X_train, Y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [50]:
X

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [57]:
X_transformed.dtypes

AttributeError: 'numpy.ndarray' object has no attribute 'dtypes'

In [1]:
import pandas as pd 
import numpy as np
np.random.seed(15)

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()
boston

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'F:\\Softwares\\anaconda\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [6]:
df_boston = pd.DataFrame(boston["data"], columns = ["feature_names"])

ValueError: Shape of passed values is (506, 13), indices imply (506, 1)